{% if messages %}
{% for message in messages %}
<div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show" {% endif %}>
    <span>{{ message }}</span>
</div>
{% endfor %}
{% else %}

<form method="post" novalidate>
  {% csrf_token %}
  <table border="1">
    {{ form }}
  </table>
  <button type="submit">Submit</button>
</form>

{% endif %}

<a href="{% url 'manager' %}">Manager</a>
<br>
<br>
{% if request.user.is_authenticated %}
<a href="{% url 'manager_logout' %}">Logout</a>
{% endif %}